
.header__menu {
    font-size: 0;

    position: relative;

    min-width: 700px;
    min-height: 64px;
    margin: 0 50px;
}

.header__menu ul {
    position: relative;
}

.header__menu li {
    display: inline-block;

    width: 14.285%;
    padding-top: 21px;

    text-align: center;
}

.header__menu a {
    padding: 2px 14px;

    white-space: nowrap;
}

.header__menu ul:before,
.header__menu ul:after {
    position: absolute;
    bottom: -35px;

    width: 0;
    height: 0;

    content: '';
}

.header__menu:before,
.header__menu:after {
    position: absolute;
    z-index: -1;

    display: block;

    width: 75px;
    height: 60px;

    content: '';
}
