* {
    box-sizing: border-box;
}

ul,
li,
a,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/* //// General Styles ////// */

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

.common-title {
    text-align: center;
    margin: 0 auto;
}

.common-title__head {
    margin-top: 40px;
}
.common-title__text {
    margin-top: 12px;
    margin-bottom: 12px;
}

.simple-text {
    color: #a8b9c0;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

.item-block {
    display: inline-block;
    width: 270px;
    margin: 1.2%;
    background-color: #fff;
    vertical-align: top;
    cursor: pointer;
}

/*//////////// Header Styles //////////*/
.header {
    max-width: 1168px;
    margin: 0 auto;
    position: relative;
}

.logo {
    float: left;
    width: 87px;
    padding-top: 18px;
}

.header-menu {
    float: right;
    width: 55%;
    margin-top: 5px;
    font-size: 0;
}

.header-menu li {
    display: inline-block;
    width: 13.867%;
}

.header-menu a {
    display: block;
    text-align: center;
}

.header-menu ul {
    font-size: 0;
}

.header-search {
    display: inline-block;
}

.header-login__button {
    margin-top: 15px;
    padding: 10px 40px;
}
li.header-login__button_width {
    width: 16.8%;
}

.header-search__box {
    width: 68px;
    height: 25px;
    margin-left: 15px;
}

.main-title {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 143px;
    text-align: center;
}

.main-title__head {
    margin: 0 auto;
    padding-bottom: 5px;
}

.main-title__describing {
    padding-bottom: 32px;
}

.main-title_button {
    padding: 15px 58px;
}

/* ////////// Header-Burger-Menu ///////////*/

.burger-menu__button {
   display: none;
}

/* ///////   Services Style ////////////  */

.services {
    max-width: 1168px;
    margin: 0 auto;
    padding: 56px 0;
    text-align: center;
}

.service-type {
    position: relative;
    display: inline-block;
    width: 300px;
    text-align: center;
    margin: 0 3.65%;
    padding-top: 52px;
}

.service-type__head {
    margin-top: 28px;
    margin-bottom: 24px;
}

.service-type_img-displacement-left {
    padding-right: 58px;
}
.service-type__small-img {
    position: absolute;
    top: 188px;
    left: 112px;
}

/* ///////   Portfolio Style ////////////  */

.portfolio {
    max-width: 1200px;
    margin: 0 auto;
    padding: 57px 0;
    text-align: center;
}

.portfolio-menu {
    text-align: center;
    font-size: 0;
}

.portfolio-menu__container {
    margin-top: 58px;
}

.portfolio-menu li {
    display: inline-block;

}
.portfolio-menu a {
    display: block;
    padding: 14px 24px;
}

.portfolio-works {
    padding-top: 48px;
    padding-bottom: 44px;
    font-size: 0;
}

.portfolio-works__img {
    display: block;
    height: 200px;
}

.portfolio_big-button {
    padding: 15px 46px;
}

/* ////////////// About Us Styles///////////////////////*/

.about-us {
    max-width: 1168px;
    margin: 0 auto;
    padding-top: 62px;
    text-align: center;
    font-size: 0;
}

.about-us-text {
    max-width: 55%;
    min-width: 250px;
    padding-top: 28px;
    padding-bottom: 58px;
    margin: 0 auto;
    text-align: center;
}

.about-us-info {
    display: inline-block;
    max-width: 32%;
    min-width: 250px;
    padding: 42px 0;
    margin-right: 6.3%;
    text-align: left;
    vertical-align: top;
}

.about-us-macbook {
    display: inline-block;
    position: relative;
    text-align: center;
}

.about-us-macbook__comp {
    width: 100%;
    height: auto;
}

.about-us-macbook__screen {
     width: 75%;
    height: auto;
    position: absolute;
    top: 6%;
    left: 12.5%;
}

.about-us-info_text {
    margin: 20px 0;
}

.about-us-info_big-button {
   padding: 16px 38px;
}

/* //////////////// Team Styles////////////*/

.team {
    max-width: 1800px;
    margin: 0 auto;
    padding-top: 63px;
    padding-bottom: 26px;
    text-align: center;
}

.team_text {
    max-width: 56.11111%;
    min-width: 250px;
    margin: 0 auto;
    margin-top: 22px;
}

.team-members {
    font-size: 0;
    padding-top: 46px;
    padding-bottom: 20px;
}

.team-members__item {
    min-height: 390px;
    margin: 0.65% 0.9%;
}

.team-members__img {
    display: block;
    width: 100%;
    height: auto;
}

.team-members__name {
    display: block;
    padding: 14px 0;
}

.team-members__description {
    display: -webkit-box;
    width: 224px;
    margin: 30px auto 0;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
/* ////////// Clients ////////////////*/

.clients {
    width: 100%;
    padding: 62px 0;
    margin:0 auto;
    font-size: 0;
    text-align: center;
    vertical-align: top;

}

.clients__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2.7%;
}
/* //////// Advertise ///////////////*/

.advertise-title {
    width: 100%;
    padding-top: 108px;
    padding-bottom: 117px;
    text-align: center;
}
.advertise-title__head {
    margin: 0 auto;
    padding-bottom: 14px;
}
.advertise-title__text {
    padding-bottom: 50px;

}
.advertise-title__button {
    padding: 14px 42px;
}
/* /////////// Blog ////////////////*/

.blog {
    max-width: 1800px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 58px;
    text-align: center;
    font-size: 0;
}

.blog-item {
    display: inline-block;
    text-align: left;
    max-width: 370px;
    margin: 0 0.78%;
    padding-top: 60px;
    padding-bottom: 20px;
}

.blog-item__date {
    display: block;
    padding-top: 15px;
    padding-bottom: 8px;
}

.blog-item__img {
    display:block;
    width: 100%;
    height: auto;
}

.blog-item__button {
    display: inline-block;
    padding: 14px 46px;
    margin-top: 22px;
}

.wrapper-blog-bottom {
    width: 100%;
    text-align: center;
}

.blog-item__head  {
    padding-bottom: 15px;
}
/* ///////////// Newsletter //////////////*/

.newsletter {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
    vertical-align: bottom;
}

.newsletter__form {
    vertical-align: top;
}
.newsletter__text {
    position: relative;
    top: 6px;
}

.newsletter__input {
    position: relative;
    left: 22px;
    width: 36.6%;
    min-width: 190px;
    vertical-align: middle;
    padding: 5px;
    margin-left: 1.5%;
    margin-right: 3.75%;
}

.newsletter__button {
    display: inline-block;
    padding: 14px 66px;
}

/* /////////////// Footer ///////////// */


.footer {
    max-width: 1175px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 90px;
    font-size: 0;
}

.footer_columns-properties {
     display: inline-block;
    text-align: left;
     vertical-align: top;
}

.footer-info {
    max-width: 380px;
}

.footer-info__text_wide-padding {
    padding-top: 18px;
    padding-bottom: 56px;
}

.footer-info__logo {
    max-width: 7.4%;
}
.footer-links {
    padding-left: 1.87%;
    padding-right: 3.9%;
}
.footer-links__head {
    padding-bottom: 15px;
}

.footer-links__item {
    display: block;
    padding-bottom: 22px;
}

.footer-contact {
    max-width: 31.5%;
    min-width: 250px;
    padding-left: 7.15%;
}
.footer-info__text_different-padding {
    padding-bottom: 16px;
}


.footer-button {
    display: inline-block;
 padding: 5.8% 40%;
    margin-top: 32px;
    margin-bottom: 40px;
}

.spcial-icons {
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 25px;
}

.footer-info_mobile {
    display: none;
    max-width: 380px;
}