/* //// General Styles ////// */
.body {
    background-color: #fff;
}

.wrapper-background-dark {
    width: 100%;
    background-color: #19283f;
}

.big-button {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;

    color: #ffc501;
    border: none;
    border-radius: 20px;
    background-color: #ff3150;
    cursor: pointer;
}
.big-button:hover {
    background-color: #BB1E47;

}

.common-title__head {
    color: #1a2940;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
}

.common-title__text {
    color: #a8b9c0;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.common-title__underline {
    width: 150px;
    height: 1px;
    border: none;
    background-color: #00c6bf;
}



/*//////////// Header Styles //////////*/

.header-menu a {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    padding: 10px 0;
    color: #a8b9c0;
}

.header-menu a:hover {
    text-decoration: underline;
    color: #EEE08E;
}

.header-menu .active a {
    color: #00c7c0;
}

.header-login__button {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    background-color: #ff3150;
}

.header-login__button a {
    color: #ffc501;
}

.header-search__box {
    border: none;
    border-left: 1px solid #00c6bf;
    background: url(../images/search-icon.png) center no-repeat;
    background-color: transparent;
}

.main-title__head {
    font-size: 51px;
    font-weight: 300;
    color: #f0f8fb;
}

.main-title__describing {
    font-size: 15px;
    font-weight: 400;
    color: #a8b9c0;
}

.main-title__button  a:hover {
    text-decoration: underline;
}

/* ///////   Services Style ////////////  */

.service-type__head {
    color: #ffc501;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.service-type__text {
    color: #a8b9c0;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

/* ///////   Portfolio Style ////////////  */

.wrapper-background-light {
    width: 100%;
    background-color: #eff7fa;
}

.portfolio-menu a {
    color: #a8b9c0;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    border-radius: 12px;
}

.portfolio-menu a:hover {
    background-color: #FF6677;
    color: #ffc501;
}
.portfolio-menu .active a {
    background-color: #ff3150;
    color: #ffc501;
}
.portfolio-works__item {
    transition: all 0.4s ease;;
}
.portfolio-works__item:hover {
    opacity: 0.8;
}

/*////////////// Team Styles ///////////////*/

.team_hed-color {
    color: #ffc501;
}

.team-members__item {
    background-color: #fff;
}

.team-members__item:hover {
    transform: scale(1.02);
    transition-duration: 0.3s;
}


.team-members__name {
    background-color: #00c6bf;
    opacity: 0.8;
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
}

.team-members__description {
    color: #a8b9c0;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
}

.clients__item:hover {
    opacity: 0.5;
}

/* ///////////// Avertise ///////////////// */

.advertise-title__head {
    color: #ffffff;
}

/* //////////// Blog ///////////////////*/

.blog-item__img {
    background-color: #eff7fa;
    border: 0;
}
.blog-item__date {
    color: #a8b9c0;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
}

.blog-item__head  {
    color: #1a2940;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;   
}

.blog-item:hover {
    transform: scale(1.03);
    transition-duration: 0.3s;
}

/* ////////////// Newsletter /////////////////*/

.wraper-newsletter-background {
    width: 100%;
    background-color: #ffc400;
}
.newsletter__text {
    color: #1a2940;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
}
.newsletter__input {
    border:none;
    border-bottom: 1px solid #eff7fa;
    background-color: #ffc400;
    color: #f0f8fb;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
}

.newsletter__input:focus {
    outline: none;
    box-shadow: 0px 9px 7px -4px rgba(0, 0, 0, .2);
}

.newsletter__button {
    background-color: #19283f;
    color: #ffc501;
}

.newsletter__button:hover {
    background-color: #243A5B;
}

::-webkit-input-placeholder {
    color: #f0f8fb;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
}

/* //////////////////// Footer ///////////////// */

.footer-info__text {
    color: #a8b9c0;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}
.footer-links__head {
    color: #f0f8fb;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
}

.footer-links__item {
    color: #a8b9c0;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
}
.footer-button {
    color: #ffffff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
}

.spcial-icons:hover {
    opacity: 0.5;
}

.footer-links__item:hover {
    color: #00c7c0;
    text-decoration: underline;
}
.color-world-graphberry {
    color: #00c7c0;
}
.color-world-bondi {
     color: #ffc501;
}