@media (max-width: 1200px) {
	.logo {
		padding-left: 15px;
	}
	.header-menu {
		margin-right: 15px;
	}
	.footer {
		text-align: center;	 
	}
	.footer-contact { 
		    padding-left: 3%;
	}
	.footer-button {
	    display: inline-block;
	    padding: 4% 25%;
	}  
}
				@media (max-width: 1045px) {
					.footer-contact { 
					    padding-top: 4%;
					    padding-left: 0;
					}
					.footer-info__text_wide-padding {
						padding-bottom: 20px;
					}
				}


@media (max-width: 1025px) {

		.about-us-info {
			text-align: center;
			max-width: 55%;
			margin-right: 0;
		}
		.team-members__item {
			width: 240px;
			margin: 0.65% 0.4%;
		}
		.blog-item {
			max-width: 315px;
		}

		.clients__item {
		    display: inline-block;
		    padding: 20px 0 15px;
		    padding-bottom: 10px;
		    margin: 0;
		    width: 33.334%;
		}
		.service-type {
			width: 300px;
		    margin: 0 0.3%;
		}
		.service-type__small-img {
			left: 115px;
		}
		.footer-info {
			max-width: 340px;
		}
		.footer-contact {
			padding-top: 0%;
			text-align: left;
		}
		.footer-links {
		    padding-left: 1%;
		    padding-right: 3.9%;
		}
}
@media (max-width: 960px) {

		.team-members__item {
			width: 225px;
			margin: 0.65% 0.3%;
		}
		.blog-item {
			max-width: 300px;
			margin: 0 0.3%;
		}
}
				@media (max-width: 920px) {
					.header-menu {
						width: 80%
					}
					.header-search__box {
					    width: 50px;
					    margin-left: 5px;
					}
					.footer-info {
				    	display: none;
				    }

					.footer-info_mobile {
				    	display: inline-block;
				    }
				}

				@media (max-width: 810px) {
					.newsletter__button {
						margin-top: 20px;
						padding: 13px 65px;
					}
					.about-us-info {
					    padding-top: 0;
					    text-align: center;
					    margin-right: 0;
					    max-width: 80%;
				    }
				}

@media (max-width: 769px) {
	.team-members__item {
	    min-height: 460px;
	}
	.about-us-macbook {
		margin: 0 5px;
	}
	.portfolio-works__item img {
	    width: 100%;
	    height: auto;
	}
	.item-block {
	    width: 48%;
	    margin: 0.8%;
	}
	.team-members__description {
    	padding-bottom: 22px;
    	width: 334px;
	}
	.service-type {
	    width: 240px;
	    margin: 0 0.3%;
	}   
	.service-type__small-img {
	    left: 88px;
	}
	.blog-item {
		display: block;
		margin: 0;
		padding: 20px 10px;
		max-width: 100%;
	}
	.about-us-text {
   		 max-width: 90%;
   		 padding-bottom: 0;
   	}
   	.about-us-info {
	    max-width: 90%;
	}
	.team_text {
    	max-width: 90%;
    }
    .footer-contact {
	    margin-left: 60px;
	    text-align: left;
	    padding-top: 0;
	    text-align: center;
	}
	.footer-info_mobile {
		text-align: center;
	}
}

@media (max-width: 737px) {
	.service-type {
	    width: 228px;
	    margin: 0 0.3%;
	}   
	.service-type__small-img {
		left: 80px;
	}
}



				@media (max-width: 675px) {
					.portfolio-menu a {
						font-size: 17px;
						padding: 8px 13px;
						}

					.clients__item {
					    padding: 10px 0 0;
					    padding-bottom: 20px;
					    margin: 0;
					    width: 50%;
					}

					.footer_columns-properties {
						width: 33%;
						text-align: left;
						padding: 0 0 0 70px;
					}
					.footer-contact { 
						width: 100%;
					    text-align: center;
					    padding: 20px 0 0 0;
					    margin: 0;
					}
					
					.footer-button {
					    display: inline-block;
					    padding: 4% 20%;
					}
					.footer-info__text {
					   min-width: 155px;
					}
					.service-type {
						width: 200px;
					    margin: 0 0.3%;
					}
					.service-type__small-img {
						left: 70px;
					}
				}
@media (max-width: 668px) {
	.team-members__item {
		margin: 0.4%;
		width: 290px;
		padding-bottom: 10px;
		min-height: 420px;
	}

	.team-members__description {
    	max-width: 270px;
	}
}

@media (max-width: 640px) {
	.service-type {
	    width: 190px;
	    margin: 0 0.2%;
	}   
	.service-type__small-img {
	    left: 65px;
	}
}

@media (max-width: 601px) {
	.service-type {
	    width: 180px;
	    margin: 0 0.15%;
	}
	.service-type__small-img {
		left: 60px;
	}
	.team-members__item {
	    min-height: 400px;
	    width: 280px;
	    margin: 0.4%;
	}
	.team-members__description {
		width: 260px;
	}
	.logo {
		float: left;
	}
	.main-title {
	    width: 100%;
	    padding-top: 85px;
	    padding-bottom: 70px;
	    text-align: center;
	}

/* ////// Burger Menu ///////////////*/

	.header-menu { 
		font-size: 0;
		display: none;
		position: absolute;
		width: 100%;
		float: none;
		margin: 45px 0 0 0;
		text-align: center;
		background-color: #19283f;
		top: 18px;
		left: 0;
		padding-bottom: 20px;
	}
	.burger-menu__button {
		display: block;
	    width: 25px;
	    height: 17px;
	    float: right;
	    margin-top:35px;
	    margin-right: 20px;
	    background:linear-gradient(to bottom, #fff 0%, #fff 20%, 
	                transparent 20%, transparent 40%, #fff 40%, #fff 60%, 
	                transparent 60%, transparent 80%, #fff 80%, #fff 100%);
	    cursor: pointer;
	}
	.header-menu li {
	    display: block;
	    width: 100%;
	}

	li.header-login__button_width {
		display: inline-block;
		width: 190px;
	}
	li.header-login__button_width:hover a {
	    background-color: #BB1E47;
	    border-radius: 15px;
	}

	.header-menu a {
		display: block;
		margin-right: 20px;
		margin-left: 20px;
	}
	.header-menu a:hover {
    	background-color: rgba(55, 129, 161, 0.15);
    	border-radius: 5px;
	}
}

/* /////////////////////   ///////////////////// */

@media (max-width: 569px) {
	.service-type {
	    width: 170px;
	    margin: 0 0.2%;
	}   
	.service-type__small-img {
	    left: 55px;
	}
	.team-members__item {
	    min-height: 400px;
	    width: 260px;
	    margin: 0.4%;
	}
}


@media (max-width: 481px) {
	.footer {
	    padding: 30px 10px;
	}

	.footer-button {
	    display: inline-block;
	    padding: 4% 20%;
	}  
	.footer-info {
    	padding:10px 10px 20px;
	}
	.service-type {
		width: 358px;
	    margin: 0 3.65%;
	}
	.service-type__small-img {
	    left: 148px;
	}
	.footer_columns-properties {
	    width: 50%;
	    text-align: center;
	    padding: 0;
	}
	.team-members__description {
		width: 200px;
		padding-bottom: 10px;
	}
}

@media (max-width: 415px) {

	.team-members__item:hover {
		transform: none;
	}
	.team-members__item:hover .team-members__img {
		opacity: 0.8;   
	}
	.blog-item:hover {
		transform: none; 
	}
	.blog-item:hover {
		transform: none;
	}
	.blog-item:hover img {
		opacity: 0.5; 
	}
	.newsletter__input {
		position: static;
	}

	::-webkit-input-placeholder {
    	text-align: center;
	}

	.item-block {
	    width: 98%;
	    margin: 1.2% 1%;
	}
	.footer_columns-properties {
	    width: 50%;
	    text-align: center;
	    padding: 0;
	}
	.team-members__description {
		width: 320px;
	}
	.header-menu {
		margin-top: 45px;
		padding-bottom: 15px;
	}
}




					@media (max-width: 400px) {
						.simple-text {
							font-size: 17px;
						}
						.portfolio-menu a {
							font-size: 18px;
							 padding: 7px 12px;
						}
						.clients {
						    width: 100%;
						    padding: 40px 0;
						}
						.clients__item {

						    padding: 20px 0 40px 0;
						    margin: 0;
						    width: 100%;
						}
						.footer_columns-properties {
							width: 100%;
							padding: 10px 30px;
							text-align: center;
						}
						.footer-button {
							padding: 10px;    
							margin-top: 15px;
							margin-bottom: 25px;
						}
						.footer-links__head {
							color: #ED9411;
						}
						.footer-links__item {
							font-size: 15px;
						}
						.spcial-icons {
						    padding-right: 5px;
						    padding-bottom: 5px;
						}
						.service-type {
						    margin: 0;
						    padding-top: 52px;
						}
					}


@media (max-width: 375px) {
	.header,
	.services,
	.portfolio,
	.about-us,
	.team,
	.clients,
	.advertise-title,
	.blog,
	.newsletter,
	.footer {
	    padding-left: 5px;
	    padding-right: 5px;
	}
	.footer-links {
		width: 50%;
		padding: 10px 50px;
		text-align: center;
	}
	.portfolio-menu a {
	    font-size: 17px;
	    padding: 7px 8px;
	}
	.service-type {
		width: 320px;
	    margin: 0 3.65%;
	}
	.service-type__small-img {
	    left: 130px;
	}
}

@media (max-width: 361px) {
	.service-type {
		width: 300px;
	    margin: 0 3.65%;
	}
	.service-type__small-img {
	    left: 120px;
	}
	.team-members__description {
    	max-width: 270px;
	}
}

@media (max-width: 321px) {
	.portfolio-menu a {
	    font-size: 15px;
	    padding: 6px 6px;
	    border-radius: 8px;
	}
	.service-type {
		width: 268px;
	    margin: 0 3.65%;
	}
	.service-type__small-img {
	    left: 100px;
	}
} 
