
.header {
	margin: 20px;
}

.header__menu {
   	width: 952px;
	height: 44px;
	border-radius: 50px;
}

.header__menu li {
	display: inline-block;
	margin-top: 7px;
	margin-left: 28px;
}

.header__menu ul{
	font-size: 0;
}

.header__menu li:first-child {
    margin-left: 28px;
}

.header__menu a {
	display: table-cell;
	padding: 4px 22px;
}

